certifi==2025.10.5
cftime==1.6.4.post1
et_xmlfile==2.0.0
netCDF4==1.7.2
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
xarray==2025.10.0
xgboost==3.0.5
scikit-learn==1.7.2
matplotlib==3.10.7
pandapower>=2.11.0
geopy==2.4.1
pyarrow==22.0.0
tqdm==4.67.1